.btn {
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        color: black;
        font-weight: lighter;
        font-size: 20px;
        display: inline-block;
        transition: 1s;
        padding: 10px 40px;
        border-radius: 30px;
        background: white;
        border: 2px solid white;
        transition: all .3s;
        animation: comeUp 1s ease-in-out 1s;
        animation-fill-mode: backwards;
    }
    &::after {
        content:"";
        display: inline-block;
       
        border-radius: 50px;
        position: absolute;
        top:0;
        left:0;
        z-index: -1;
        transition: all .4s;
    }
    &:link {

        text-transform: uppercase;
        text-decoration: none;
        color: black;
        font-weight: lighter;
        font-size: 20px;
        display: inline-block;
        transition: 1s;
        padding: 10px 40px;
        border-radius: 30px;
        background: white;
        border: 2px solid white;
        animation: comeUp 1s ease-in-out 1s;
        animation-fill-mode: backwards;
        transition: all .3s;

    }

    &-white::after {
        background: white;
      



    }

    &-white {
        background-color: white;
      
    }

    

    &:active {
        transform: translateY(5px);

    }

    &:hover {

        padding: 10px 50px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
        //animation: fadeQuick .3s;

    }

   
}

.btn-text {
    &:link,&:visited {
        color:#208122;
        display: inline-block;
        text-transform: capitalize;
        text-decoration: none;
        border-bottom: 0.1rem solid #208122;
        padding: 4px 5px;
        font-size: $default-font-size;
        transition: all .4s;
    }

    &:hover {   
        background-color: #208122;
        transition: all .4s;
        color: white; 
        box-shadow: 0 1rem 3rem rgba(0,0,0,0.3);
        transform: translateY(-2px);

    }
    &:active {
        transition: all .4s;
       
        box-shadow: 0 .5rem 2rem rgba(0,0,0,0.3);
        transform: translateY(0);

    }
}