.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    height: 41rem;

    &__side {

        transition: all 1s ease;
        height: 41rem;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        width: 100%;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba(black, 0.4);
        overflow: hidden;

        &--front {
            background-color: white;
        }

        &--back {
            transform: rotateY(-180deg);

            &-1 {
                background: linear-gradient(to bottom right, $color-card-1-1, $color-card-1-2);
            }

            &-2 {
                background: linear-gradient(to bottom right, $color-card-3-1, $color-card-3-2);
            }

            &-3 {
                background: linear-gradient(to bottom right, $color-card-2-1, $color-card-2-2);
            }
        }
    }


    &:hover &__side--front {
        transform: rotateY(180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0deg);
    }

    &__picture {
        background-blend-mode: soft-light;
        background-size: cover;
        height: 18rem;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);



        &-1 {
            background-image: linear-gradient(to bottom, $color-card-1-1, $color-card-1-2), url('../../images/nat-3.jpg');
        }

        &-2 {
            background-image: linear-gradient(to bottom, $color-card-3-1, $color-card-3-2), url('../../images/nat-4.jpg');


        }

        &-3 {
            background-image: linear-gradient(to bottom, $color-card-2-1, $color-card-2-2), url('../../images/nat-7.jpg');
        }

    }

    &__heading {
        font-size: 1.5rem;
        color: white;
        position: absolute;
        top: 10rem;
        right: .4rem;
        
        text-transform: uppercase;
       
        width:68%;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break:clone;

        &--1 {
            background-image: linear-gradient(to right,rgba(118, 88, 22, 0.7    ),rgba(169, 142, 72, 0.3));

        }
        &--3 {
            background-image: linear-gradient(to right,rgba(113, 153, 206, 0.54),rgba(11, 50, 134, 0.54));

        }
        &--2 {
            background-image: linear-gradient(to right,rgba(58, 123, 118, 0.54),rgba(91, 167, 196, 0.54));

        }
    }

    &__details {
        ul {
            list-style: none;
            width:80%;
            margin: 0 auto;
           
            li {
                font-size: 1.5rem;
                margin:2rem 0;
                text-align: center;
                
                &:not(:last-child) {
                    border-bottom: 1px solid #eee;
                }    
            }

        }
    }

    &__cta {
        position: absolute;
        top: 50%;
        left:50%;
        transform: translateX(-50%) translateY(-50%);
        width: 90%;
        text-align: center;
    }

    &__price-box {
        text-align: center;
        color:white;
        margin-bottom: 2rem;
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }
}