.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    height:40rem;

    &__side {
        
        transition: all 1s ease;
        height:40rem;
        position: absolute;
        top:0;
        left: 0;
        backface-visibility: hidden;
        width:100%;

        &--front {
            background-color: white;
        }

        &--back {
            transform: rotateY(180deg);
            &-1 {
                background: linear-gradient(to bottom right,$color-card-1-1,$color-card-1-2 );
            }
            &-2 {
                background: linear-gradient(to bottom right,$color-card-3-1,$color-card-3-2 );
            }
            &-3 {
                background: linear-gradient(to bottom right,$color-card-2-1,$color-card-2-2 );
            }
        }
    }
   
   
    &:hover &__side--front {
        transform: rotateY(180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0deg);
    }
}

