    .composition {
        position: relative;

        &__photo {
            width: 55%;
            box-shadow: 1rem 3rem 7rem rgba(0, 0, 0, 0.3);
            border-radius: 2px;
            position: absolute;
            z-index: 10;
            transition: all .4s;
           // outline-offset: 2rem;

            &--p1 {
                top: -2rem;
                left: 0;
            }

            &--p2 {
                right: 0;
                top: 4rem;
            }

            &--p3 {
                top: 14rem;
                left: 11%;

            }

            &:hover {
                transform: scale(1.2);
                z-index: 20;
                transition: all .3s;
                //outline: .5rem solid #208122;
                box-shadow: 1rem 3rem 10rem rgba(0, 0, 0, 0.3);
            }
        }
    }