.story {
    background-color: whitesmoke;
    padding:6rem;
    box-shadow: 0 3rem 6rem rgba(0,0,0,0.6);
    border-radius: .1rem;
    width: 75%;
    margin: 0 auto;
    transform: skewX(-6deg);
    & > * {
        transform: skewX(6deg);
    }

   

    &__shape {
        height:15rem;
        width:15rem;
        background: url(../../images/nat-8.jpg) center center;
        background-size: cover;
        shape-outside: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        clip-path: circle(34% at 50% 50%);
        transform: translateX(-4rem) skewX(6deg);


    }
    
    &__text {
       
        
    }
   
}

