body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.7;
    color: lightseagreen;
    padding: 30px;
}

.heading-secondary {
    font-size: 3.7rem;
    text-transform: uppercase;
    font-family: Questrial, sans-serif;
    font-weight: 900;
    letter-spacing: .2rem;
    display: inline-block;
    text-shadow: .3rem .8rem 2rem rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to right, #228e24, #4ee050);
    color: transparent;
    -webkit-background-clip: text;
    transition: all .3s;

    &:hover {
        transform: skewX(-20deg) skewY(-4deg);
    }
}
.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
}

.paragraph {
    font-size: 1.6rem;
    color:black;
    text-align: left;
    letter-spacing: .1rem;
    font-family: Montserrat;
    &:not(:last-child) {
        margin-bottom: 3rem;
        
    }
}

